<!doctype html>
<html lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- favicon -->
		<link rel="shortcut icon" href="/images/favicon/favicon.ico">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" href="/images/favicon/apple-icon-57x57.png">
		
		<title>데이터 거래소</title>
		<!-- <link href="/lib/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet"> -->
		<link href="/styles/loginReg.css" rel="stylesheet">
	</head>
<body>
	<div class="img_area">
		<div class="img_inner">
			<h1><img class="logo_white" src="/images/login/login_logo.png" alt="DrugAlls 로고" /></h1>
			<h2>Korea Datamarket<br />&amp; Analytics</h2>
			<p>메디칼 데이터 거래소 및 분석 시스템</p>
		</div>
	</div>
	<div class="login_area">
		<div class="login_inner">
			<form action="/user/loginReg" method="post" id="login_form" >
				<div class="login_radio">
					<input type="radio" name="selectwho" id="company" class="radio" value="company" checked><label for="company">기업고객</label>
					<input type="radio" name="selectwho" id="person" class="radio" value="person"><label for="person">개인고객</label>
				</div>
				<ul>
					<li>
						<h4>ID</h4>
						<input id="inp_loginId" name="uid" type="text" size="20" placeholder="ID" />
					</li>
					<li>
						<h4>PASSWORD</h4>
						<input id="inp_loginPwd" name="upw" type="password" size="20" placeholder="Password" autocomplete="off" />
					</li>
				</ul>	
				<div class="login_util">
					<div class="remember_area">
						<div class="border-checkbox-section">
					        <div class="border-checkbox-group border-checkbox-group-default">
					            <input class="border-checkbox" type="checkbox" id="remember">
					            <label class="border-checkbox-label" for="remember">아이디 기억</label>
					        </div>
				        </div>
					</div>
					<button id="div_memberJoin">Join us</button>
				</div>
				<a href="#signin" id="btn_login" class="login_btn" onclick="login()">LOGIN</a>
			</form>
		</div>
    </div>
    <div id="javaexe"></div>
		
		
<!-- <section class="container">
    <article class="half">
            <h1>의료 데이터 거래소</h1>
            <div class="tabs">
                    <span class="tab signin active"><a href="#signin">Sign in</a></span>
                    <span class="tab signup"><a href="#signup">Sign up</a></span>
            </div>
            <div class="content">
                <div class="signin-cont cont">
                    <form action="/user/loginReg" method="post"id="login_form" >
                            <input type="text" name="uid"  class="inpt" placeholder="ID">
                            <input type="password" name="upw" class="inpt" placeholder="Password">
                            <input type="checkbox" id="remember" class="checkbox" checked>
                            <label for="remember">Remember me</label>
                            <input type="radio" class="radio" name="selectwho" value="company"> 기업
                            <input type="radio" class="radio" name="selectwho" value="person"> 개인
                            <div class="submit-wrap">
                                <input type="submit" value="Sign in" class="submit">
                                <a href="#" class="more">Forgot your password?</a>
                            </div>
                    </form>
                </div>
                <div class="signup-cont cont">
                    <form action="/company/register" method="post" id='register_form'>
                        <input type="email" name="email" class="inpt"  placeholder="Email">
                        <input type="text" name="comName"  class="inpt"  placeholder="Company Name">
                        <input type="text" name="comNumber"  class="inpt"  placeholder="Company Number">
                        <input type="password" name="cpw" class="inpt"  placeholder="Password">
                        <input type="password" name="comfirmCpw" class="inpt" placeholder="Comfirm Password">

                        <div class="submit-wrap">
                            <input type="submit" value="Sign up" class="submit">
                            <a href="#" class="more">Terms and conditions</a>
                        </div>
                    </form>
                </div>
            </div>
    </article>
	</section> -->

<!-- jQuery -->
<script src="/lib/jquery/jquery.min.js"></script>
<!-- jQuery UI Interactions -->
<script src="/lib/jquery.ui/interactions/jquery-ui.min.js"></script>
<!-- jQuery Form -->
<script src="/lib/jquery.form/jquery.form.min.js"></script>
<!-- Bootstrap -->
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>


<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<script type="text/javascript">
    function login(){
        var pw = $('#login_form input[id=inp_loginPwd]');
        var id = $('#login_form input[id=inp_loginId]');
        var selectwho = $('#login_form input[name=selectwho]');
        
        var client = new XMLHttpRequest();
        var params = 'uid='+id.val()+'&upw='+pw.val()+'&selectwho='+selectwho.val();

        client.onreadystatechange = function(){
            if(client.readyState===client.DONE){
                if(this.status===200 || this.status==201){
                    // https://codeday.me/ko/qa/20190310/40850.html 참고

                    //응답한 javascript 태그 삽입
                    document.getElementById("javaexe").innerHTML = this.responseText;
                    //실행
                    eval(document.getElementById('sc1').innerHTML);
                }else{
                    alert(client.responseText);
                }
            }
        };

        client.open('POST', '/user/loginReg',true);
        client.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        client.send(params);

    }


    (function(){
        $(document).ready(function() {
            
            $('#login_form').submit(function(){
                var $usernameInput = $('#login_form input[name=uid]');
                var $passwordInput = $('#login_form input[name=upw]');
                var $radioInput = $('#login_form input[name=selectwho]:checked');

                if(!$usernameInput.val()){
                    alert("아이디를 입력해주세요.");
                    $usernameInput.focus();
                    return false;
                }
                if(!$passwordInput.val()){
                    alert("패스워드를 입력해주세요.");
                    $passwordInput.focus();
                    return false;
                }
                if(!$radioInput.val()){
                    alert("개인이나 기업을 선택해주세요.");
                    $radioInput.focus();
                    return false;
                }

                return true;
            });

            $('#register_form').submit(function(){
                var $comEmail = $('#register_form input[name=email]');
                var $comName = $('#register_form input[name=comName]');
                var $comNumber = $('#register_form input[name=comNumber]');
                var $cpw = $('#register_form input[name=cpw]');
                var $comfirmCpw = $('#register_form input[name=comfirmCpw]');

                if(!$comEmail.val()){
                    alert("이메일을 입력하세요");
                    $comEmail.focus();
                    return false;
                }
                if(!$comName.val()){
                    alert("기업명을 입력하세요.");
                    $comName.focus();
                    return false;
                }
                if(!$comNumber.val()){
                    alert("사업자 번호를 입력하세요.");
                    $comNumber.focus();
                    return false;
                }
                if(!$cpw.val()){
                    alert("비밀번호를 입력하세요.");
                    $cpw.focus();
                    return false;
                }
                if(!$comfirmCpw.val()){
                    alert("비밀번호를 한번더 입력해야합니다.");
                    $comfirmCpw.focus();
                    return false;
                }
                if($cpw.val()!=comfirmCpw.val()){
                    alert('비밀번호가 일치하지 않습니다. 다시 입력해주세요.');
                    $cpw.val('');
                    $comfirmCpw.val('');
                    $cpw.focus();
                    return false;
                }
                return true;
            });


        });
    })();
</script>
<script type="text/javascript">
    $('.tabs .tab').click(function(){
        if ($(this).hasClass('signin')) {
            $('.tabs .tab').removeClass('active');
            $(this).addClass('active');
            $('.cont').hide();
            $('.signin-cont').show();
        } 
        if ($(this).hasClass('signup')) {
            $('.tabs .tab').removeClass('active');
            $(this).addClass('active');
            $('.cont').hide();
            $('.signup-cont').show();
        }
    });
    </script>
</script>
</body>
</html>
