<!doctype html>
<html lang="ko">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- favicon -->
		<link rel="shortcut icon" href="/images/favicon/favicon.ico">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" href="/images/favicon/apple-icon-57x57.png">
	
	    <title>데이터 거래소 시스템</title>
	    <link href='http://fonts.googleapis.com/css?family=Margarine' rel='stylesheet' type='text/css'>
	    
	    <!-- CSS -->
	    <link href="/lib/font-awesome/css/all.css" rel="stylesheet">
	    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
	    <link href="/lib/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
	    <link href="/lib/jquery.ui/interactions/jquery-ui.css" rel="stylesheet">
		<link href="/styles/style.css" rel="stylesheet">
	</head>
	<body>
	    <header>
	        <div class="user-area">
	        	<div class="container">
	        		<h3 class="user-info"><i class="fa fa-user-circle"></i><span id="userNm">홍길동</span>님 반갑습니다</h3>
	        		<a class="btn btn-white outline btn-25" href="/user/logout">로그아웃</a>
	        	</div>
	        	
	        </div>
	        <div class="nav-area">
	        	<div class="container">
	        		<h1><img src="/images/common/logo.png" alt="KODA 메디칼 데이터 거래소 및 분석 시스템"></h1>
	        		<nav id="mainGnb">
	        			<ul>
	                        <li class="active"><a href="/company/searchPhr"><i class="fab fa-wpforms"></i>연구 신청</a></li>
	                        <li><a href="/company/requestData"><i class="fab fa-stack-overflow"></i>연구 신청현황</a></li>
	                    </ul>
	        		</nav>
        		</div>
        	</div>
	    </header>
	    
	    <div class="container">
	    	<h2 class="sub-title">
				<span>연구정보 조회 신청</span>
			</h2>
			
			<form action="/company/searchPhr" method="POST" id="searchPhr">
				<table class="form-table">
					<caption>연구 신청 현황</caption>
					<colgroup>
						<col style="width:12%;" />
						<col style="width:38%;" />
						<col style="width:12%;" />
						<col style="width:38%;" />
					</colgroup>
					<tbody>
						<tr>
							<th>신청용도</th>
							<td>
								<select name="requestPurpose" class="form-control" autofocus>
					                <option value="">신청용도 선택</option>
					                <option value="Marketing">Marketing</option>
					                <option value="Sales">Sales</option>
					                <option value="ETC">ETC</option>
					            </select>
							</td>
							<th>마감일자</th>
							<td>
								<div class="input-group">
									<input type="text" id="deadLine" class="form-control" name="deadLine" size="20" placeholder="마감일자를 선택하세요"/>
									<span class="input-group-addon">
										<i class="fa fa-calendar bigger-110"></i>
									</span>
								</div>
							</td>
						</tr>
						<tr>
							<th>수집건수</th>
							<td><input type="text" id="requireCnt" class="form-control" name="requireCnt" size="30" placeholder="필요한 PHR 건수를 입력하세요."/></td>
							<th rowspan="2">정보제공<br />보상방법</th>
							<td rowspan="2">
								<textarea id="rewardDesc"class="form-control"style="height:80px;" name="rewardDesc" cols="40" placeholder="정보제공에 따른 보상 방법을 입력하세요"></textarea>
							</td>
						</tr>
						<tr>
							<th>성별</th>
							<td>
								 <div class="form-radio">
						            <div class="radio radio-outline radio-inline radio-purple">
						                <label>
						                	<input type="radio" name="sex" value="1" checked="checked">
						                    <i class="helper"></i>남자
						                </label>
						            </div>
						            <div class="radio radio-outline radio-inline radio-purple">
						                <label>
						                    <input type="radio" name="sex" value="2">
						                    <i class="helper"></i>여자
						                </label>
						            </div>
							    </div>
							</td>
						</tr>
						
						<!-- 추가되는 조건 예시 -->
						<tr>
							<th>나이</th>
							<td><input type="text" name="ageFrom" class="form-control inline-block w100"> 이상</td>
							<th>대상자</th>
							<td>300</td>
						</tr>
					</tbody>
				</table>
				
				<div class="tm60 tac">
					<input type="submit" value="조회 신청" class="btn btn-purple w120" style="font-weight:normal;">
				</div>
			</form>
			
		       <!--  <div id="content">            
		           
		            <br><br>
		            나이<br>
		            <input type="text" name='ageFrom'> ~ <input type="text" name='ageTo'>
		            <br><br>
		            BMI<br>
		            <input type="text" name='bmiFrom'> ~ <input type="text" name='bmiTo'>
		            <br><br>
		            수축기 혈압<br>
		            <input type="text" name='systoleFrom'> ~ <input type="text" name='systoleTo'>
		            <br><br>
		            이완기 혈압<br>
		            <input type="text" name='relaxFrom'> ~ <input type="text" name='relaxTo'>
		            <br><br>
		            AST<br>
		            <input type="text" name='astFrom'> ~ <input type="text" name='astTo'>
		            <br><br>
		            ALT<br>
		            <input type="text" name='altFrom'> ~ <input type="text" name='altTo'>
		            <br><br>
		             &nbsp;
		           
		            
		        </div> -->
		    
		</div>
	    
		
		
		
		<!-- jQuery -->
		<script src="/lib/jquery/jquery.min.js"></script>
		<!-- jQuery UI Interactions -->
		<script src="/lib/jquery.ui/interactions/jquery-ui.min.js"></script>
		<!-- Bootstrap -->
		<script src="/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
		<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
		
		<script type="text/javascript">
		    $(function(){
		        $.datepicker.setDefaults($.datepicker.regional['ko']);
		        $("#deadLine").datepicker();
		    });
		
		    (function(){
		        $(document).ready(function() {
		            $('#searchPhr').submit(function(){
		            var $requestPurpose = $('#searchPhr select[name=requestPurpose]');
		            var $deadLine = $('#searchPhr input[name=deadLine]');
		            var $requireCnt = $('#searchPhr input[name=requireCnt]');
		            
		            if(!$requestPurpose.val()){
		                alert("활용목적을 선택하세요.");
		                $requestPurpose.focus();
		                return false;
		            }
		            if(!$deadLine.val()){
		                alert("마감일자를 선택하세요.");
		                $deadLine.focus();
		                return false;
		            }
		            if(!$requireCnt.val()){
		                alert("필요한 PHR 건수를 입력하세요.");
		                $requireCnt.focus();
		                return false;
		            }
		            // else{
		            //     if(Number($requireCnt.val())%100!=0){
		            //         alert("요청 PHR 건수를 100단위로 입력하세요.");
		            //         $requireCnt.focus();
		            //         return false;
		            //     }
		            // }
		
		            if(confirm('해당 조건으로 데이터를 신청합니까?')) return true;
		            else return false;
		
		            });
		        });
		    })();
		</script>
	</body>
</html>

